{% extends "base.html" %}
{% block body %}
    <div class="col-md-8 mx-auto">
        <h1 class="text-center mt-5">Регистрация студента на курс</h1>
        <form method="POST">
            <select class="form-select mt-4" size="3" name="course_name">
                {% for item in courses %}
                    <option value="{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <select class="form-select mt-4" size="3" name="student_name">
                {% for item in students %}
                    <option value="{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary mt-2" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}