{% extends "base.html" %}
{% block body %}
<div class="w-25 mx-auto mt-5">
    <h3 class="text-center">POST-форма</h3>
    <form method="POST">
        <div class="form-group">
            <label for="input_theme">Тема</label>
            <input type="text" class="form-control" id="input_theme" name="theme" placeholder="">
        </div>
        <div class="form-group">
            <label for="input_email">E-mail</label>
            <input type="email" class="form-control" id="input_email" name="email" placeholder="">
        </div>
        <div class="form-group">
            <label for="input_text">Текст</label>
            <textarea class="form-control" id="input_text" name="text" rows="3"></textarea>
        </div>

        <button class="btn btn-primary mt-2" type="submit">Отправить</button>
    </form>
</div>
<div class="w-25 mx-auto mt-5">
    <h3 class="text-center">GET-форма</h3>
    <form method="GET">
        <div class="form-group">
            <label for="input_theme">Тема</label>
            <input type="text" class="form-control" id="input_theme" name="theme" placeholder="">
        </div>
        <div class="form-group">
            <label for="input_email">E-mail</label>
            <input type="email" class="form-control" id="input_email" name="email" placeholder="">
        </div>
        <div class="form-group">
            <label for="input_text">Текст</label>
            <textarea class="form-control" id="input_text" name="text" rows="3"></textarea>
        </div>

        <button class="btn btn-primary mt-2" type="submit">Отправить</button>
    </form>
</div>
{% endblock %}