{% extends "base.html" %}
{% block body %}
    <div class="col-md-8 mx-auto">
        <h1 class="text-center mt-5">Список категорий</h1>

        <table class="table text-center mt-5">
            <thead class="table-dark">
                <tr>
                    <td>Категория</td>
                    <td>Количество курсов</td>
                </tr>

            </thead>
            <tbody>
            {% for item in objects_list %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.course_count()}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}